

<h1>My Photos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Image</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.title %></td>
        <td><%= photo.body %></td>
        <td><%= link_to image_tag(photo.image.url(:med)), photo.image.url %></td>
        <td><%= photo.user.username %></td>
        <% if !current_user.blank? %>
          <td><%= link_to 'Show', photo_path(photo) %></td>
          <% if current_user.id == photo.user.id %>
            <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
            <td><%= link_to 'Destroy', photo_path(photo), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if !current_user.blank? && (current_user.id == @user.id) %>
	<%= link_to 'New Photo', new_user_photo_path %>
<% end %>
