<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @photo.body %>
</p>

<p>
  <strong>Image:</strong>
  <%= link_to image_tag(@photo.image.url(:med)), @photo.image.url %>
</p>

<p>
  <strong>User:</strong>
  <%= @photo.user.username %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', root_path %>

<h2><%= link_to 'Comments', '#', id: 'comments-link' %></h2>
<div id="comment-section">
  <ol id="comments">
    <%= render @photo.comments %>
  </ol>

  <h3>Add a comment:</h3>
  <%= render 'comments/form' %>
</div>
