<p id="notice"><%= notice %></p>


<div class="panel panel-default">
 <div class="well"><strong>Title:</strong> <%= @photo.title %></div> 
</div>

<div class="panel panel-default">
 <div class="well"><strong>Body:</strong> <%= @photo.body %></div> 
</div>

<p>
  <strong>Image:</strong>
  <%= link_to image_tag(@photo.image.url(:med)), @photo.image.url %>
</p>
<% if !current_user.blank? %>
<p>
  <strong>User:</strong>
  <%= @photo.user.username %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', root_path %>

<h2><%= link_to 'Comments', '#', id: 'comments-link' %></h2>
<div id="comment-section">
  <ol id="comments">
    <%= render @photo.comments %>
  </ol>

  <h3>Add a comment:</h3>
  <%= render 'comments/form' %>
</div>
<% end %>