<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @photo.body %>
</p>

<p>
  <strong>Image:</strong>
  <%= @photo.image %>
</p>

<p>
  <strong>User:</strong>
  <%= @photo.user %>
</p>

<%= link_to 'Edit', edit_user_photo_path(@photo) %> |
<%= link_to 'Back', user_photos_path %>
